<ion-header no-border no-line>
  <ion-navbar>
    <ion-title>
      Analytics
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addToFav(item)">
        <ion-icon ios="ios-heart-outline" md="ios-heart-outline" color="danger" *ngIf="!isAdded"></ion-icon>
        <ion-icon ios="ios-heart" md="ios-heart" color="danger" *ngIf="isAdded"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon ios="md-open" md="md-open"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="mode" color="richblue" (ionChange)="modeSegmentChanged($event)">
      <ion-segment-button value="info">
        Info
      </ion-segment-button>
      <ion-segment-button value="history">
        History
      </ion-segment-button>
      <ion-segment-button value="markets">
        Markets
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-toolbar padding *ngIf="mode==='history'">
    <ion-segment [(ngModel)]="actions" color="richblue" (ionChange)="segmentChanged($event)" mode="md">
      <ion-segment-button value="m1">
        1M
      </ion-segment-button>
      <ion-segment-button value="m15">
        15M
      </ion-segment-button>
      <ion-segment-button value="m30">
        30M
      </ion-segment-button>
      <ion-segment-button value="h1">
        1H
      </ion-segment-button>
      <ion-segment-button value="h6">
        6H
      </ion-segment-button>
      <ion-segment-button value="h12">
        12H
      </ion-segment-button>
      <ion-segment-button value="d1">
        1D
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content class="card-background-page">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="mode === 'info'">
    <ion-card class="info" padding-bottom>
      <ion-card-header>
        <b>{{item.priceUsd | currency:'USD'}}</b>
      </ion-card-header>
      <div text-center>
        <img [src]="item.icon" onError="this.src='./assets/icons/svg/color/generic.svg'">
      </div>
      <div class="card-title">{{item.name}}</div>
      <div class="card-subtitle">{{item.symbol}}</div>
    </ion-card>
    <ion-item no-lines *ngIf="item.marketCapUsd !== null">
      <h2>Market Cap</h2>
      <ion-note item-end>
        <span>{{item.marketCapUsd | currency:'USD'}}</span>
      </ion-note>
    </ion-item>
    <ion-item no-lines *ngIf="item.volumeUsd24Hr !== null">
      <h2>Volume (24h)</h2>
      <ion-note item-end>
        <span>{{item.volumeUsd24Hr | currency:'USD'}}</span>
      </ion-note>
    </ion-item>
    <ion-item no-lines *ngIf="item.supply !== null">
      <h2>Circulating Supply</h2>
      <ion-note item-end>
        <span>{{item.supply | number}} {{item.symbol}}</span>
      </ion-note>
    </ion-item>
    <ion-item no-lines *ngIf="item.maxSupply !== null">
      <h2>Max Supply</h2>
      <ion-note item-end><span>{{item.maxSupply | number}} {{item.symbol}}</span></ion-note>
    </ion-item>
  </div>
  <div *ngIf="mode === 'history'">
    <div padding>
      <canvas baseChart [datasets]="assetHistory" [labels]="price_labels" [options]="lineChartOptions"
        [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
    </div>
  </div>
  <ion-list *ngIf="mode === 'markets'" class="market-list">
    <ion-item *ngFor="let item of assetMarkets">
      <h2><b>{{item.exchangeId | uppercase}} <span ion-text
            color="secondary">{{item.priceUsd | currency:'USD'}}</span></b></h2>
      <p>{{item.volumeUsd24Hr | currency: 'USD'}}</p>
      <p>{{item.volumePercent | number}} %</p>
      <ion-note item-end>
        {{item.baseSymbol}}/{{item.quoteSymbol}}
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>
